{% extends "base.html" %}

{% block page_title %}- Engagement {{ engagement.pk }}{% endblock %}

{% block body %}

{# TODO: This is an unstyled rough-cut. Pretty it up. #}
<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <h1>Engagement {{ engagement.pk }}</h1>
  <table class="table">
    <tr>
      <td>First Appraisal Due:</td><td>{{ engagement.due_date|date:"M d, Y" }}</td>
    </tr>
    <tr>
      <td>Client:</td><td>{{ engagement.client.name }}</td>
    </tr>
    <tr>
      <td>Client Contact:</td>
      <td>
        {{ engagement.client_contact.first_name }} {{ engagement.client_contact.last_name }}
      </td>
    </tr>
    {% if engagement.amf %}
    <tr>
      <td>AMF:</td>
      <td>{{ engagement.amf.name }}</td>
    </tr>
    <tr>
      <td>AMF Contact:</td>
      <td>{{ engagement.amf_contact.first_name }} {{ engagement.amf_contact.last_name }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Client Provided ID:</td>
      <td>{{ engagement.client_provided_id }}</td>
    </tr>
    {% if engagement.property %}
    <tr>
      <td>Property:</td>
      <td>{{ engagement.property.name }}</td>
    </tr>
    {% else %}
    <tr>
      <td>Portfolio:</td>
      <td>{{ engagement.portfolio.name }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Client Requirements:</td>
      <td>{% if engagement.client.requirements %}"{{ engagement.client.requirements }}"
    {% endif %}</td>
    </tr>
    {# TODO: only display fees that make sense for the occurance schedule #}
    <tr>
      <td>Initial Fee:</td><td>{{ engagement.initial_fee }}</td>
    </tr>
    <tr>
      <td>Update Fee:</td><td>{{ engagement.update_fee }}</td>
    </tr>
    <tr>
      <td>Quarterly Fee:</td><td>{{ engagement.quarterly_fee }}</td>
    </tr>
    <tr>
      <td>Office:</td><td>{{ engagement.office.name }}</td>
    </tr>
    <tr>
      <td>Procuring Professional:</td><td>{% if engagement.procurer_is_principal %}Principal{% else %}{{ engagement.assignments_grouped.PROCURER.0.employee.name }}
            {% if engagement.assignments_grouped.PROCURER.0.fee %} - {{ engagement.assignments_grouped.PROCURER.0.fee }}{% endif %}{% endif %}</td>
    </tr>
    <tr>
      <td>Manager:</td><td>{{ engagement.assignments_grouped.MANAGER.0.employee.name }}{% if engagement.assignments_grouped.MANAGER.0.fee %} - {{ engagement.assignments_grouped.MANAGER.0.fee }}{% endif %}</td>
    </tr>
  </table>
  <h3>Default Appraisal Assignments:</h3>
  <table class="table">
    <tr>
      <td>Appraiser{{ engagement.assignments_grouped.APPRAISER|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.APPRAISER %}
              <tr><td>{{ assn.employee.name }} - {{ assn.fee }}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>Inspector{{ engagement.assignments_grouped.INSPECTOR|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.INSPECTOR %}
              <tr><td>{{ assn.employee.name }}{% if assn.fee %} - {{ assn.fee }}{% endif %}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>Principal Signer:</td><td>{{ engagement.assignments_grouped.PRINCIPAL_SIGNER.0.employee.name }}</td>
    </tr>
    <tr>
      <td>Signer{{ engagement.assignments_grouped.SIGNER|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.SIGNER %}
              <tr><td>{{ appr.employee.name }}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>Reviewer{{ engagement.assignments_grouped.REVIEWER|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.REVIEWER %}
              <tr><td>{{ assn.employee.name }}{% if assn.fee %} - {{ assn.fee }}{% endif %}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>Researchers{{ engagement.assignments_grouped.RESEARCHER|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.RESEARCHER %}
              <tr><td>{{ assn.employee.name }}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
    <tr>
      <td>Associate{{ engagement.assignments_grouped.ASSOCIATE|pluralize }}:</td>
      <td>
        <table>
          {% for assn in engagement.assignments_grouped.ASSOCIATE %}
              <tr><td>{{ assn.employee.name }}</td></tr>
              {% endfor %}
        </table>
      </td>
    </tr>
  </table>

  {% if engagement.notes %}
    <h2>Notes:</h2>
    <p>{{ engagement.notes }}</p>
  {% endif %}

  <p>TODO: Occurence Info</p>

  <p>TODO: Active Appraisal[s], if any</p>

  <h2>Other Engagements for {% if engagement.property %}Property{% else %}Portfolio{% endif %}:</h2>
  <table class="table">
    {% for eng in engagement.related_engagements %}
        <tr>
          <td><a href="{{ eng.get_absolute_url }}">Engagement {{ eng.pk }}</a></td>
        </tr>
    {% empty %}
      <tr><td>None found</td></tr>
    {% endfor %}
  </table>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}
